<style type="text/css">
  #main-wrapper {
    margin-top: 40px;
  }

  .fake-piskelapp-header {
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    background: rgb(233, 233, 233);
    color: #607D8B;
    z-index: 100;
  }

  .piskel-name.piskel-name-saving {
    color: red;
  }

  .new-piskel-desktop {
    position: absolute;

    display: flex;
    top: 7px;
    right: 7px;

    height: 26px;
    width: 26px;

    border-radius: 3px;
    font-size: 22px;
    color: black;
    background: #607D8B;
    text-decoration: none;

    align-items: center;
    justify-content: center;
  }
</style>
<div class="fake-piskelapp-header">
  
  <span class="piskel-name"></span>
</div>